<div class="h-full flex gap-6">
  <div class="flex flex-col gap-6 p-6 bg-theme-white rounded-lg max-w-sm w-full">
    <nav class="flex justify-between items-center gap-6 pb-1 border-underline">
      <div class="flex gap-4 items-center">
        <p-avatar
          shape="circle"
          icon="pi pi-user"
          styleClass="avatar-cover mr-2"
          size="large"
        ></p-avatar>
        <span class="text-theme-black text-xl font-bold">{{ currentUser?.username }}</span>
      </div>
      <div class="flex gap-2">
        <p-button
          styleClass="shadow-none font-semibold text-theme-main-accent flex flex-col p-2"
          [text]="true"
        >
          <i class="pi pi-cog text-xl"></i>
          <span class='text-xs'>Settings</span>
        </p-button>
        <p-button
          (onClick)="onLogout()"
          styleClass="shadow-none font-semibold text-theme-main-accent flex flex-col p-2"
          [text]="true"
        >
          <i class="pi pi-sign-out text-xl"></i>
          <span class='text-xs'>Log Out</span>
        </p-button>
      </div>
    </nav>
    <div class="w-full h-full flex flex-col justify-between gap-4 overflow-hidden">
      <app-chat-channels
        class="grow w-full h-fit flex flex-col gap-3 overflow-hidden border-underline"
        [selectedChatId]="selectedChatId"
        (selectChat)="onSelectChat($event)">
      </app-chat-channels>
      <app-chat-users
        class="grow w-full h-fit flex flex-col gap-2 overflow-hidden"
        [selectedChatId]="selectedChatId"
        (selectChat)="onSelectChat($event)">
      </app-chat-users>
    </div>
  </div>
  @if (selectedUserOrChannel?.id) {
    <app-chat-messages-window
      class="flex flex-col gap-6 grow w-full bg-theme-white rounded-lg p-6"
      [selectedUserOrChannel]="selectedUserOrChannel">
    </app-chat-messages-window>
  } @else {
    <div class="w-full h-full flex justify-center items-center">
      <span class="text-theme-main-accent-50 text-xl font-semibold"> Select user chat or channel</span>
    </div>
  }
</div>
