<div class="flex gap-4 justify-between items-center">
  <span class="text-theme-black text-xl font-bold">Channels</span>
  <p-button
    (onClick)="modalVariables.visible = true"
    styleClass="shadow-none font-semibold text-theme-main-accent p-2"
    [text]="true"
    icon="pi pi-plus text-base"
  >
  </p-button>
</div>
<div class="h-76 w-full flex flex-col gap-3 overflow-scroll p-2">
  @for (channel of channels$ | async; track channel.id) {
    <a
      (click)="onSelectChat(channel.id)"
      class="flex items-center gap-4 no-underline cursor-pointer rounded-lg p-2 hover:bg-theme-main-accent-50"
      [class.bg-theme-main-accent-200]="selectedChatId === channel.id"
    >
      <div>
        <p-avatar
          shape="circle"
          icon="pi pi-star"
          styleClass="avatar-cover mr-2"
          size="normal"
        ></p-avatar>
      </div>
      <span class="font-semibold">{{ channel.name }}</span>
    </a>
  }
</div>

<p-dialog
  header="Add channel"
  [(visible)]="modalVariables.visible"
  [modal]="true"
  maskStyleClass="text-theme-main-accent"
  styleClass="max-w-[650px] w-full"
  [draggable]="false"
  [resizable]="false"
  [focusOnShow]="false"
>
  <div class="flex flex-col gap-6 overflow-hidden">
    <p-iconField iconPosition="right" class="w-full">
      <p-inputIcon styleClass="pi pi-search text-theme-main-accent-50"/>
      <input
        type="text"
        pInputText
        placeholder="Search by channel name"
        class="w-full"
        [formControl]="modalVariables.searchString"/>
    </p-iconField>

    <div class="h-56 w-full overflow-scroll">
      @for (channel of modalVariables.filteredData; track channel.id) {
        <div
          class="flex items-center justify-between gap-4 rounded-lg p-4"
        >
          <span class="font-semibold">{{ channel.name }}</span>
          <p-button
            (onClick)="onSelectChannel(channel.id)"
            styleClass="shadow-none font-semibold text-theme-main-accent"
            [text]="true"
            label="Select"
          >
          </p-button>
        </div>
      } @empty {
        <div class="w-full h-full flex justify-center items-center">
          <span class="text-theme-main-accent-50 text-xl font-semibold"> Start the search by channel name</span>
        </div>
      }
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-4">
      <p-button
        (onClick)="modalVariables.visible = false"
        styleClass="red-btn"
        label="Close"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
