<div class="flex gap-4 justify-between items-center">
  <span class="text-theme-black text-xl font-bold">Users</span>
  <p-button
    (onClick)="modalVariables.visible = true"
    styleClass="shadow-none font-semibold text-theme-main-accent p-2"
    [text]="true"
    icon="pi pi-plus text-base"
  >
  </p-button>
</div>
<div class="flex flex-col h-72 gap-3 overflow-scroll p-2">
  @for (user of users$ | async; track user) {
    <a
      (click)="onSelectChat(user.id)"
      class="flex items-center gap-4 no-underline cursor-pointer rounded-lg p-2 hover:bg-theme-main-accent-50"
      [class.bg-theme-main-accent-200]="selectedChatId === user.id"
    >
      <div class="relative">
        <p-avatar
          shape="circle"
          icon="pi pi-user"
          styleClass="mr-2"
          size="normal"
        ></p-avatar>
        @if (user.is_online) {
          <div class="rounded-full bg-teal-600 absolute bottom-0 right-1 w-3 h-3"></div>
        }
      </div>
      <span class="font-semibold">{{ user.username }}</span>
    </a>
  } @empty {
    <div class="w-full h-full flex justify-center items-center">
      <span class="text-theme-main-accent-50 text-xl font-semibold"> Select a user </span>
    </div>
  }
</div>

<p-dialog
  header="Add user"
  [(visible)]="modalVariables.visible"
  [modal]="true"
  maskStyleClass="text-theme-main-accent"
  styleClass="max-w-[650px] w-full"
  [draggable]="false"
  [resizable]="false"
  [focusOnShow]="false"
>
  <div class="flex flex-col gap-6 overflow-hidden">
    <p-iconField iconPosition="right" class="w-full">
      <p-inputIcon styleClass="pi pi-search text-theme-main-accent-50"/>
      <input
        type="text"
        pInputText
        placeholder="Search by username"
        class="w-full"
        [formControl]="modalVariables.searchString"/>
    </p-iconField>

    <div class="h-56 w-full overflow-scroll">
      @for (user of modalVariables.filteredData; track user.id) {
        <div class="flex items-center justify-between gap-4 rounded-lg p-4">
          <div class="flex items-center gap-4">
            <p-avatar
              shape="circle"
              icon="pi pi-user"
              styleClass="mr-2"
              size="normal">
            </p-avatar>
            <span class="font-semibold">{{ user.username }}</span>
          </div>
          <p-button
            (onClick)="onSelectUser(user.id)"
            styleClass="shadow-none font-semibold text-theme-main-accent"
            [text]="true"
            label="Select">
          </p-button>
        </div>
      } @empty {
        <div class="w-full h-full flex justify-center items-center">
          <span class="text-theme-main-accent-50 text-xl font-semibold"> Start the search by username</span>
        </div>
      }
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-end p-2">
      <p-button
        (onClick)="modalVariables.visible = false"
        label="Close">
      </p-button>
    </div>
  </ng-template>
</p-dialog>
