<div class="flex w-full flex-col gap-4 px-6">
  <div class="text-base font-semibold">Password change</div>
  <form [formGroup]="passwordForm" class="flex flex-col gap-6">
    <app-input-label-container>
      <label for="password" class="asterisk text-sm">
        Old password
      </label>
      <p-password
        [feedback]="false"
        [toggleMask]="true"
        autocomplete="off"
        type="text"
        aria-describedby="password"
        styleClass="w-full"
        inputStyleClass="w-full"
        formControlName="password"
        id="password"
      ></p-password>
      @if (password?.invalid && password?.dirty) {
        @if (password?.errors?.['required']) {
          <small class="text-theme-red">Password required</small>
        } @else if (password?.errors?.['minlength']) {
          <small class="text-theme-red">
            The password must be at least 4 characters long
          </small>
        } @else if (password?.errors?.['maxlength']) {
          <small class="text-theme-red">
            The password cannot be more than 20 characters long
          </small>
        }
      }
    </app-input-label-container>
    <app-input-label-container>
      <label for="newPassword" class="asterisk text-sm">
        New password
      </label>
      <p-password
        [feedback]="false"
        [toggleMask]="true"
        autocomplete="off"
        aria-describedby="newPassword"
        styleClass="w-full"
        inputStyleClass="w-full"
        formControlName="newPassword"
        id="newPassword"
      />
      @if (newPassword?.invalid && newPassword?.dirty) {
        @if (newPassword?.errors?.['required']) {
          <small class="text-theme-red">Требуется пароль</small>
        } @else if (newPassword?.errors?.['minlength']) {
          <small class="text-theme-red">
            The password must be at least 4 characters long
          </small
          >
        } @else if (newPassword?.errors?.['maxlength']) {
          <small class="text-theme-red">
            The password cannot be more than 20 characters long
          </small>
        }
      }
    </app-input-label-container>
    <app-input-label-container>
      <label for="repeatedPassword" class="asterisk text-sm">
        Repeat new password
      </label>
      <p-password
        [feedback]="false"
        [toggleMask]="true"
        autocomplete="off"
        aria-describedby="repeatedPassword"
        styleClass="w-full"
        inputStyleClass="w-full"
        formControlName="repeatedPassword"
        id="repeatedPassword"
      />
      @if (repeatedPassword?.invalid &&
      (repeatedPassword?.dirty)) {
        @if (repeatedPassword?.errors?.['required']) {
          <small class="text-theme-red">Требуется пароль</small>
        } @else if (repeatedPassword?.errors?.['minlength']) {
          <small class="text-theme-red">
            The password must be at least 4 characters long
          </small>
        } @else if (repeatedPassword?.errors?.['maxlength']) {
          <small class="text-theme-red">
            The password cannot be more than 20 characters long
          </small>
        } @else if (repeatedPassword?.errors?.['mustMatch']) {
          <small class="text-theme-red">Passwords don't match</small>
        }
      }
    </app-input-label-container>
  </form>
    <p-button
      (onClick)="onSubmitNewPassword()"
      label="Save"
      styleClass="font-semibold w-full"
      class="w-full">
    </p-button>
</div>
